.header {
  background-color: #1E1E1E;
}

.navigation {
  text-align: center;
}

.list-items {
  display: inline-flex;
}

.list-items li a {
  font-family: "Lily Script One";
  color: #FFF;
  font-size: 2rem;
  line-height: 2.7519rem;
}

.list-items li {
  padding: 78px; 
}